<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="library_Management_SystemAD.Properties.Settings.BookHeavenConnectionString"
            connectionString="Data Source=DESKTOP-URN6SR5\SQLEXPRESS;Initial Catalog=BookHeaven;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>